/* Estilizando a barra de rolagem para navegadores baseados em Webkit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #1e1e1e;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #105f85;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #0a4a68;
  }
  
  /* Adicionando comportamento de scroll suave para o site inteiro */
  html {
    scroll-behavior: smooth;
  }
  
  /* Habilitando "scroll snapping" para seções importantes */
  .scroll-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
  }
  
  .scroll-section {
    scroll-snap-align: start;
    min-height: 100vh;
  }
  